Source: php-geremo
Section: web
Priority: optional
Maintainer: Cedric Dufour <cedric.dufour@idiap.ch>
Build-Depends: debhelper (>= 5) 
Build-Depends-Indep: php-pear
Homepage: http://www.idiap.ch/software/php-geremo
Standards-Version: 1.0.0RC2

Package: php-geremo
Architecture: all
Depends: libapache2-mod-php5 | php5-cgi, php5-mhash, php5-mcrypt, php-pear
Recommends: php-text-captcha, php-mail, php-mail-mime
Description: PHP Generic Registration Module (PHP-GEREMO)
 The PHP Generic Registration Module is a PHP class which allows to implement
 "double opt-in" users registration as an independent and foolproof add-on to
 any existing application.
 .
 Upon completion of the registration process and once their credentials (and
 optional details) stored in the configurable backend, users can be authentica-
 ted and authorized using the web server's ad-hoc mechanisms and gain access to
 the underlying application.
 .
 The idea behind this module is to:
  - use the web server authentication and authorization capacities to control
    access to the underlying application (be it in PHP, ASP, Java, Perl, Python,
    etc.) and thus prevent potential application-level vulnerabilities to be
    exploited by unauthenticated agents;
  - provide developers a way to quickly add a registration process to any exis-
    ting application;
  - do so as an independent and foolproof add-on, which focus on the quality
    and the security of the registration process.
