#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
DEB_NOEPOCH_VERSION := $(shell echo $(DEB_VERSION) | cut -d: -f2-)
DEB_UPSTREAM_VERSION := $(shell echo $(DEB_NOEPOCH_VERSION) | sed 's/-[^-]*$$//')

PEAR ?= /usr/bin/pear
PEAR_SOURCE = src/php
DEB_PACKAGE = php-geremo

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	dh_clean build-stamp configure-stamp

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Create the PEAR package to be bundled as a Debian package (DEB_PACKAGE)
	cp package.xml $(PEAR_SOURCE)/package.xml
	$(PEAR) install -f -n -R debian/$(DEB_PACKAGE) $(PEAR_SOURCE)/package.xml
	rm -f debian/$(DEB_PACKAGE)/usr/share/php/.filemap
	rm -f debian/$(DEB_PACKAGE)/usr/share/php/.lock
	rm -rf debian/$(DEB_PACKAGE)/usr/share/php/.channels
	rm -rf debian/$(DEB_PACKAGE)/usr/share/php/.depdblock
	rm -rf debian/$(DEB_PACKAGE)/usr/share/php/.depdb
	rm -rf debian/$(DEB_PACKAGE)/usr/share/php/.registry/.channel.pecl.php.net
	rm -rf debian/$(DEB_PACKAGE)/usr/share/php/.registry/.channel.__uri
	rm -rf debian/$(DEB_PACKAGE)/tmp

	# Remove unwanted files
	rm -rf debian/$(DEB_PACKAGE)/usr/share/php/data/GEREMO/data

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installchangelogs 
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

build-orig-tarball:
	tar -czf ../php-geremo_$(DEB_UPSTREAM_VERSION).orig.tar.gz src package.xml .git .gitignore

build-source-tarball:
	dh_testdir
	dh_testroot
	dh_prep

	# Create the source tarball
	mkdir -p debian/tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	cp -rp src debian/tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)/.
	tar -C debian/tmp -cjf ../$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION).tar.bz2 $(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)

